<section class="col-12 col-lg-3 themed-grid-col">
  <div class="about">
  {{ with .Site.Params.avatarurl }}
    <div class="profile centered"><img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ . | relURL }}" alt="avatar"></div>
  {{ end }}
  <h2>{{ .Site.Params.author }}</h2>
  <h3>{{ .Site.Params.info }}</h3>
  <div class="avatar">
    <img class="rounded-circle" src = "{{ .Site.Params.avatar }}" />
  </div>
  <p>{{ .Site.Params.description}}<p>
  <ul class="align-self-center">
    {{ if .Site.Menus.icon }}
      {{ range sort .Site.Menus.icon }}
       <li class="">
         <a class="" href="{{ .URL }}" target="_blank" >
            <span class="fab fa-{{.Name}}"></span>
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
<div>
</section>
