
                <div class="resume-intro py-3">

                    <div class="media flex-column flex-md-row align-items-center">

                        {{ if .Site.Params.profile.avatar }}
                        {{ $img := resources.Get (printf "images/%s" .Site.Params.profile.avatar) }}
                        {{ if $img }}
                        {{ $img = $img.Resize "120x120 webp q85" }}
                        <div class="resume-profile-avatar mb-3 mb-md-0 mr-md-5 ml-md-0 mx-auto">
                            <img src="{{ $img.RelPermalink }}" alt="{{ .Site.Params.profile.name }}" width="120" height="120">
                        </div>
                        {{ end }}
                        {{ end }}

                        <div class="media-body text-left">
                            <p class="mb-0">{{ .Site.Params.summary.text | markdownify }}</p>
                        </div><!--//media-body-->

                    </div>

                </div><!--//resume-intro-->
